absl-py==1.2.0
adjustText==0.7.3
aioeasywebdav==2.4.0
aiohttp==3.8.1
aiosignal==1.2.0
airr==1.3.1
alabaster==0.7.12
amply==0.1.5
anndata==0.8.0
annoy==1.17.0
appdirs==1.4.4
argon2-cffi==21.3.0
argon2-cffi-bindings==21.2.0
asciitree==0.3.3
astor==0.8.1
asttokens==2.0.5
async-timeout==4.0.2
attmap==0.13.2
attrs==22.1.0
autograd==1.5
autograd-gamma==0.5.0
autopep8==1.7.0
Babel==2.10.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
batchglm==0.7.4
bcrypt==3.2.2
beautifulsoup4==4.11.1
bioservices==1.10.0
biothings-client==0.2.6
bleach==5.0.1
blinker==1.4
bokeh==1.4.0
boto3==1.24.51
botocore==1.27.51
brotlipy==0.7.0
build==0.8.0
cached-property==1.5.2
cachetools==4.2.4
cattrs==1.10.0
certifi==2022.12.7
cffi==1.15.1
charset-normalizer==2.0.12
chembl-webresource-client==0.10.8
chex==0.1.4
click==8.1.3
cloudpickle==2.1.0
colorama==0.4.5
colorcet==3.0.1
colorlog==6.6.0
commonmark==0.9.1
ConfigArgParse==1.5.3
connection-pool==0.0.3
cryptography==37.0.1
cycler==0.11.0
cytoolz==0.12.0
dask==2021.11.2
dask-image==2022.9.0
dataclasses==0.8
datashader==0.9.0
datashape==0.5.2
datrie==0.8.2
debugpy==1.6.0
decorator==5.1.1
decoupler==1.1.0
defusedxml==0.7.1
diffxpy==0.7.4
distributed==2021.11.2
dm-tree==0.1.7
docopt==0.6.2
docrep==0.3.2
docutils==0.19
dpath==2.0.6
dropbox==11.33.0
dunamai==1.12.0
easydev==0.12.0
easydict==1.9
entrypoints==0.4
et-xmlfile==1.0.1
etils==0.7.1
executing==0.9.1
fasteners==0.18
fastjsonschema==2.16.1
filechunkio==1.8
filelock==3.8.0
flatbuffers==2.0
flax==0.5.0
flit_core==3.7.1
fonttools==4.37.1
formulaic==0.5.2
frozendict==2.3.4
frozenlist==1.3.1
fsspec==2022.7.1
ftputil==5.0.4
future==0.18.2
get_version==3.5.4
gevent==21.12.0
gitdb==4.0.9
GitPython==3.1.27
goatools==1.2.3
google-api-core==2.8.2
google-api-python-client==2.56.0
google-auth==1.35.0
google-auth-httplib2==0.1.0
google-auth-oauthlib==0.4.1
google-cloud-core==2.3.2
google-cloud-storage==2.4.0
google-crc32c==1.1.2
google-resumable-media==2.3.3
googleapis-common-protos==1.56.4
greenlet==1.1.2
grequests==0.6.0
grpcio==1.46.4
gseapy==0.10.8
gtfparse==1.2.1
h5py==3.7.0
harmonypy==0.0.6
HeapDict==1.0.1
holoviews==1.12.7
html5lib==1.1
htsget==0.2.5
httplib2==0.20.4
humanfriendly==10.0
humanize==4.6.0
idna==3.3
igraph==0.10.1
imagecodecs-lite==2019.12.3
imageio==2.13.1
imagesize==1.4.1
importlib-metadata==4.11.4
importlib-resources==5.9.0
inflect==6.0.0
iniconfig==1.1.1
Interactive-Plotting==0.0.5
interface-meta==1.3.0
ipykernel==6.15.1
ipython==8.4.0
ipython-genutils==0.2.0
ipywidgets==7.7.1
itsdangerous==2.1.2
jaraco.classes==3.2.3
jax==0.3.16
jaxlib==0.3.14
jedi==0.18.1
jeepney==0.8.0
Jinja2==3.1.2
jmespath==1.0.1
joblib==1.1.0
jsonschema==4.9.1
jupyter-client==7.3.4
jupyter-contrib-core==0.4.0
jupyter-contrib-nbextensions==0.5.1
jupyter_core==4.11.1
jupyter-highlight-selected-word==0.2.0
jupyter-latex-envs==1.4.6
jupyter-nbextensions-configurator==0.4.1
jupyterlab-pygments==0.2.2
jupyterlab-widgets==1.1.1
kaplanmeier==0.1.8
keyring==23.9.3
kiwisolver==1.4.4
legacy-api-wrap==0.0.0
leidenalg==0.9.0
lifelines==0.27.4
llvmlite==0.36.0
locket==1.0.0
logmuse==0.2.6
loompy==3.0.6
louvain==0.8.0
lxml==4.9.1
Markdown==3.4.1
MarkupSafe==2.1.1
matplotlib==3.5.3
matplotlib-inline==0.1.3
matplotlib-scalebar==0.8.1
matplotlib-venn==0.11.7
mistune==0.8.4
more-itertools==8.14.0
mousipy==0.0.6
msgpack==1.0.4
mudata==0.2.0
multidict==6.0.2
multipledispatch==0.6.0
mygene==3.2.2
natsort==8.1.0
nbclient==0.6.6
nbconvert==6.5.3
nbformat==5.4.0
nest-asyncio==1.5.5
networkx==2.8.5
notebook==6.4.12
numba==0.53.1
numcodecs==0.10.2
numexpr==2.7.3
numpy==1.23.1
numpy-groupies==0.9.19
numpyro==0.10.0
oauth2client==4.1.3
oauthlib==3.2.0
olefile==0.46
omnipath==1.0.5
openpyxl==3.0.9
opt-einsum==3.3.0
optax==0.1.3
packaging==21.3
pandas==1.4.3
pandocfilters==1.5.0
panel==0.6.2
param==1.12.2
paramiko==2.11.0
parasail==1.2.4
parso==0.8.3
partd==1.3.0
patsy==0.5.2
pep517==0.13.0
peppy==0.33.0
pexpect==4.8.0
pickleshare==0.7.5
Pillow==9.0.0
PIMS==0.6.1
pip==22.2.2
pkginfo==1.8.3
pkgutil_resolve_name==1.3.10
plac==1.3.5
pluggy==1.0.0
ply==3.11
POT==0.8.2
prettytable==3.3.0
prometheus-client==0.14.1
prompt-toolkit==3.0.30
protobuf==3.19.6
psutil==5.6.6
ptyprocess==0.7.0
PuLP==2.6.0
pure-eval==0.2.2
py==1.11.0
pyasn1==0.4.8
pyasn1-modules==0.2.7
pycodestyle==2.9.1
pycparser==2.21
pyct==0.4.8
pydantic==1.10.2
pyDeprecate==0.3.2
pydot==1.4.2
pyega3==5.0.1
Pygments==2.12.0
PyJWT==2.4.0
PyLD==2.0.3
PyNaCl==1.5.0
pynndescent==0.5.7
pyOpenSSL==22.0.0
pyparsing==3.0.9
pyro-api==0.1.2
pyro-ppl==1.8.1+06911dc
pyrsistent==0.18.1
pysftp==0.2.9
PySocks==1.7.1
pytest==7.1.2
python-dateutil==2.8.2
python-irodsclient==1.1.4
python-Levenshtein==0.12.2
pytorch-lightning==1.7.7
pytz==2022.1
pytz-deprecation-shim==0.1.0.post0
pyu2f==0.1.5
pyviz-comms==2.2.1
PyWavelets==1.3.0
PyYAML==6.0
pyzmq==23.2.0
ratelimiter==1.2.0
readme-renderer==37.2
requests==2.26.0
requests-cache==0.9.4
requests-oauthlib==1.3.1
requests-toolbelt==0.9.1
reretry==0.11.8
retry==0.9.2
rfc3986==2.0.0
rich==12.5.1
rpy2==3.5.5
rsa==4.9
s3transfer==0.6.0
scanpy==1.9.1
scikit-image==0.19.3
scikit-learn==1.1.2
scikit-misc==0.1.4
scipy==1.9.0
scirpy==0.11.0
scperturb==0.0.3
scrublet==0.2.3
scvelo==0.2.4
scvi-tools==0.17.4
seaborn==0.11.2
SecretStorage==3.3.3
Send2Trash==1.8.0
session-info==1.0.0
setuptools==59.5.0
sinfo==0.3.1
six==1.16.0
slacker==0.14.0
slicerator==1.1.0
smart-open==6.0.0
smmap==3.0.5
snakemake==7.22.0
snowballstemmer==2.2.0
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
sparse==0.13.0
Sphinx==5.1.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5
squarify==0.4.3
squidpy==1.2.2
stack-data==0.3.0
statannotations==0.4.4
statsmodels==0.13.2
stdlib-list==0.7.0
stone==3.3.1
stopit==1.1.2
suds-community==1.1.2
tables==3.7.0
tabulate==0.8.10
tblib==1.7.0
tensorboard==2.10.1
tensorboard-data-server==0.6.1
tensorboard-plugin-wit==1.8.1
terminado==0.15.0
texttable==1.6.4
threadpoolctl==3.1.0
throttler==1.2.1
tifffile==2020.6.3
tinycss2==1.1.1
toml==0.10.2
tomli==2.0.1
toolz==0.12.0
toposort==1.7
torch==1.12.1
torchmetrics==0.9.3
tornado==6.2
tqdm==4.64.1
traitlets==5.3.0
twine==4.0.1
typing_extensions==4.3.0
tzdata==2022.5
tzlocal==4.2
ubiquerg==0.6.2
umap-learn==0.5.3
uniprot==1.3
uritemplate==4.1.1
url-normalize==1.4.3
urllib3==1.26.7
validators==0.20.0
veracitools==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==2.2.2
wheel==0.37.1
widgetsnbextension==3.6.1
wrapt==1.14.1
xarray==2022.9.0
xlrd==1.2.0
XlsxWriter==3.0.3
xmltodict==0.13.0
yamlordereddictloader==0.4.0
yarl==1.7.2
yte==1.5.1
zarr==2.13.2
zict==2.2.0
zipp==3.8.1
zope.event==4.5.0
zope.interface==5.4.0
